{% block breadcrumb %}
    {% from "components/breadcrumb.njk" import breadcrumb %}
    {{breadcrumb(title, serviceLabel, '/pages/' + locale + '/', '/pages/' + locale + '/service/', aboutLabel, '/pages/' + locale + '/about/')}}
{% endblock breadcrumb %}