{% block servicesFormsCommentsBlock %}
	<div class="form-field">
		<h3 style="margin-bottom: 2rem !important;">{{ message.otherComments[locale] }}</h3>
			<div>
				<textarea class="custom-form-field-input" style="margin-top: -1.5rem;" name="ContactMessage" id="contact-message" cols="30" rows="6"></textarea>
			</div>
	</div>
{% endblock servicesFormsCommentsBlock %}