---
layout: 'layouts/base.njk'
id: services.html
isParent: true
pagination:
    data: languages
    size: 1
    alias: language
permalink: "pages/{{ language.lang | slugify }}/{{id}}"
---

<!-- Begin main content -->
<br/><br/>

<div class="main-content">
    <div class="container">
    {% include "components/breadcrumb.njk" %}
        <div class="row items">
            <div class="col-12">
                <div class="wrapp-page-title page-title-center">
                    <div class="page-subtitle">{{pageSubtitle[locale]}}</div>
                    <h1 class="page-title">{{pageTitle[locale]}}</h1>
                </div>
            </div>
            {% for service in services.service[locale] %}
                <div class="col-lg-4 col-md-6 col-12 item">
                    <!-- Begin services item -->
                    <a onclick="mixpanel.track('Go to ' + service.title + ' Service Page Button')" href="{{ service.link }}" class="services-item services-item-modern item-style">
                        <div class="services-item-ico">
                            <i class="material-icons material-icons-outlined md-48">{{ service.icon }}</i>
                        </div>
                        <div class="services-item-ico-bg">
                            <i class="material-icons material-icons-outlined">{{ service.icon }}</i>
                        </div>
                        <h4 class="services-item-title">{{ service.title }}</h4>
                        <div class="services-item-desc">{{ service.long_description }}</div>
                    </a>
                    <!-- End services item -->
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- End main content -->