---
layout: 'layouts/base.njk'
id: aboutw/faq.html
pagination:
    data: languages
    size: 1
    alias: language
permalink: "pages/{{ language.lang | slugify }}/{{id}}"
---

{% macro faq_question(question, answer) %}
  <div class="accordion-trigger">{{question | safe}}</div>
	<div class="accordion-content content" style="display: none;">
		<p>{{answer | safe}}</p>
	</div>
{% endmacro %}

<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-heading heading-center">
					<h1>{{title[locale]}}</h1>
				</div>
				<div class="accordion">
					<div class="row gutters-default">
						<div class="col-lg-6 col-12">
							<ul class="accordion-list">
								{% for question in questionFirstColumn[locale] %}
								  <li class="accordion-item section-bg">
                    {{faq_question(question.question, question.answer)}}
								  </li>
                {% endfor %}
							</ul>
						</div>
						<div class="col-lg-6 col-12">
							<ul class="accordion-list">
								{% for question in questionSecondColumn[locale] %}
								  <li class="accordion-item section-bg">
                    {{faq_question(question.question, question.answer)}}
								  </li>
                {% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>