---
layout: "layouts/base.njk"
---

<style>
    .no-border-dev {
        border: unset !important;
    }
</style>

<br/>

<!-- Contact Information And Title Area Start -->
<br/>
<br/>
<br/>

<div class="container template" style="margin-top: 2rem">
    {% include "components/breadcrumbBlock.njk" %}
    <div class="row mb-n10">
        <div class="col-md-4 mb-10" data-aos="fade-up" data-aos-delay="100">
            <div class="info no-border-dev">
                <div class="info-icon"></div>
                <div class="info-content">
                    <h4 class="title">{{ourLocationTitle}}</h4>
                    <span class="info-text">{{ourLocationDescription}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-10" data-aos="fade-up" data-aos-delay="300">
            <div class="info no-border-dev">
                <div class="info-icon"></div>
                <div class="info-content">
                    <h4 class="title">{{giveUsACallTitle}}</h4>
                    <span class="info-text">{{giveUsACallDescription}}<br/>809-332-1203<br/></span>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-10" data-aos="fade-up" data-aos-delay="600">
            <div class="info no-border-dev">
                <div class="info-icon"></div>
                <div class="info-content">
                    <h4 class="title">{{contactEmailTitle}}</h4>
                    <span class="info-text">
                        <a onclick="mixpanel.track('Go to Email Button')" href="#">{{contactEmailDescription}}<br/><br/></a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<br/>

<!-- Contact Map Start -->
<div class="contac-map pb-90">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!--Google Map Area Start-->
                <div class="google-map-area">
                    <iframe class="contact-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3783.9316228240696!2d-69.83470548527995!3d18.48675618742868!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8eaf87eb126cd4f3%3A0x2bb9377d7c9471e4!2sPyhex%20Work%203!5e0!3m2!1sen!2sdo!4v1652306118455!5m2!1sen!2sdo" frameborder="0" allowfullscreen></iframe>
                </div>
                <!--Google Map Area Start-->
            </div>
        </div>
    </div>
</div>
<!-- Contact Map End -->

<div class="container">
    <div class="row">
        <div class="col-xl-12 col-md-7 content-item">
            <form name="contact" data-netlify="true" method="post" action="/pages/{{locale}}/thanks/" onsubmit="return validateRecaptcha()" class="contact-form contact-form-padding">
                <!-- Begin hidden Field for send form -->
                <input type="hidden" name="form_subject" value="Contact form"/>
                <!-- End hidden Field for send form -->
                <div class="row gutters-default">
                    <div class="col-12 mt-10">
                        <br/>
                        <h3 class="heading">{{ contactTitle }}</h3>
                        <h4 class="heading-sub">{{contactDescription}}</h4>
                    </div>
                    <div class="col-xl-4 col-sm-6 col-12">
                        <div class="form-field">
                            <label for="contact-name" class="form-field-label">{{inputName}}</label>
                            <input type="text" class="form-field-input" minlength="3" required name="ContactName" value="" autocomplete="off" required="required" id="contact-name"/>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-6 col-12">
                        <div class="form-field">
                            <label for="contact-phone" class="form-field-label">{{inputPhone}}</label>
                            <input type="tel" class="form-field-input mask-phone" name="ContactPhone" value="" autocomplete="off" required="required" id="contact-phone"/>
                        </div>
                    </div>
                    <div class="col-xl-4 col-12">
                        <div class="form-field">
                            <label for="contact-email" class="form-field-label">{{inputEmail}}</label>
                            <input type="email" class="form-field-input" name="ContactEmail" value="" autocomplete="off" required="required" id="contact-email"/>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-field">
                            <label for="contact-message" class="form-field-label">{{inputMessage}}</label>
                            <textarea name="ContactMessage" class="form-field-input" id="contact-message" cols="30" rows="6"></textarea>
                        </div>
                    </div>
                    <div class="col-12">
                        <div data-netlify-recaptcha></div>
                        <br/>
                    </div>
                    <div class="col-12 mt-15">
                        <div class="form-btn">
                            <button onclick="mixpanel.track('Send Message Button')" type="submit" class="btn btn-w240 ripple">{{btnSendMessage}}</button>
                        </div>
                    </div>
                </div>
                <br/>
            </form>
        </div>
    </div>
</div>