---
layout: 'layouts/base.njk'
---

<!-- Begin main banner -->
<div class="section-bg main-banner" style="box-shadow: 0 10px 6px rgba(0, 33, 41, 0.13295)">
	<div class="main-banner-slider flickity-dots-absolute reduce-banner-height" data-flickity='{ "bgLazyLoad": 0, "bgLazyLoad": false, "fade": true, "prevNextButtons": false, "autoPlay": 6000, "pauseAutoPlayOnHover": false }'>
		<div class="main-banner-slider-item" style=" background-image: url('/img/Background-Images/Background-home-1.png');">
			<div class="container">
				<div class="row" style="margin-top: 0.1rem !important">
					<div class="col">
						<div class="main-banner-content">
							<h2 class="main-banner-title">{{mainBanner.title1}}</h2>
							<div class="main-banner-desc">
								<p>{{mainBanner.description1}}</p>
								<div class="row d-flex justify-content-left" style="margin-left: 0; margin-top: 1rem">
									<a style="font-family: 'GothamBook', Metropolis, sans-serif !important; font-weight: bold !important;" onclick="mixpanel.track('Go to Contact Page Button')" href="{{"/pages/" + locale + "/services/forms/"}}" class="btn btn-w240 ripple">{{mainBanner.btn1}}</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="main-banner-slider-item" style=" background-image: url('/img/Background-Images/Backgroud-BuildIdeas.png');">
			<div class="container">
				<div class="row" style="margin-top: 0.1rem !important">
					<div class="col">
						<div class="main-banner-content">
							<h2 class="main-banner-title">{{mainBanner.title2  | safe}}</h2>
							<div class="main-banner-desc">
								<p>{{mainBanner.description2  | safe}}</p>
								<div class="row d-flex justify-content-left" style="margin-left: 0; margin-top: 1rem">
									<a style="font-family: 'GothamBook', Metropolis, sans-serif !important; font-weight: bold !important;" onclick="mixpanel.track('Go to Contact Page Button')" href="{{"/pages/" + locale + "/services/forms/"}}" class="btn btn-w240 ripple">{{mainBanner.btn2  | safe}}</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End main banner -->

<!-- highlighs -->
<section class="how-section1">
	<div class="row">
		<div class="col-md-6 how-img">
			<img src="/img/Vector-Images/vectores-atdev-web-01.png" alt=""/>
		</div>
		<div class="col-md-6">
			<h4>{{firstSection.title1  | safe}}</h4>
			<h4 class="subheading">{{firstSection.subheading1  | safe}}</h4>
			<p class="text-muted">
				{{firstSection.description1_1 | safe}}
				<small>
					<a onclick="mixpanel.track('Go to Salesforce Page Button')" href="https://www.salesforce.com/">Salesforce</a>,
					<a onclick="mixpanel.track('Go to .Net Page Button')" href="https://dotnet.microsoft.com/">.NET</a>,
					<a onclick="mixpanel.track('Go to Python Page Button')" href="https://www.python.org/">Python</a>,
					<a onclick="mixpanel.track('Go to JavaScript Page Button')" href="https://developer.mozilla.org/es/docs/Web/JavaScript">Javascript</a>
					{% if '/en/' in page.url %}
                     and
                    {% else %}
                     y
                    {% endif %}
					<a onclick="mixpanel.track('Go to Java Page Button')" href="https://docs.oracle.com/en/java/">Java</a>.
				</small>
				{{firstSection.description1_2 | safe}}
			</p>
			<a onclick="mixpanel.track('Go to Nearshore Service Page Button')" href="{{"/pages/" + locale + "/services/nearshore/"}}" class="btn btn-widht-ico btn-small ripple w-50">
				<span>{{btnLearnMore}}</span>
				<svg class="btn-widht-ico-right" viewBox="0 0 13 9">
					<use xlink:href="/img/sprite.svg#arrow-right"></use>
				</svg>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<h4>{{firstSectionTitle2  | safe}}</h4>
			<h4 class="subheading">{{firstSectionSubheading2 | safe}}</h4>
			<p class="text-muted">{{firstSectionDescription2_1 | safe}}</p>
			<a onclick="mixpanel.track('Go to App Development Service Page Button')" href="{{"/pages/" + locale + "/services/app-development/"}}" class="btn btn-widht-ico btn-small ripple w-50">
				<span>{{btnLearnMore}}</span>
				<svg class="btn-widht-ico-right" viewBox="0 0 13 9">
					<use xlink:href="/img/sprite.svg#arrow-right"></use>
				</svg>
			</a>
		</div>
		<div class="col-md-6 how-img"><img src="/img/Vector-Images/vectores-atdev-web-02.png" alt=""/></div>
	</div>
</section>
<!-- highlights -->

<!-- Begin our services -->
<section class="section services">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="wrapp-section-title section-title-center">
					<div class="section-subtitle">{{secondSectionTitle}}</div>
					<h2 class="section-title">{{secondSectionSubtitle}}</h2>
				</div>
			</div>
			{% for service in services.service[locale] %}
				<div class="col-lg-4 col-md-6 col-12 item d-flex justify-content-center">
					<!-- Begin services item -->
					<a onclick="mixpanel.track('Go to ' + service.title + ' Service Page Button')" href="{{ service.link }}" class="services-item item-style">
						<div class="services-item-ico">
							<i class="material-icons material-icons-outlined md-48">{{ service.icon }}</i>
						</div>
						<div class="services-item-ico-bg">
							<i class="material-icons material-icons-outlined">{{ service.icon }}</i>
						</div>
						<h4 class="services-item-title">{{ service.title }}</h4>
						<div class="services-item-desc">{{ service.long_description }}</div>
					</a>
					<!-- End services item -->
				</div>
			{% endfor %}

			<div class="section section-14555 section-animate-items" data-body-columns="1" id="section-14555">
				<div class="container">
					<div class="row items">
						<header class="col-12">
							<div class="section-heading heading-center section-heading-animate" style="opacity: 1">
								<div class="section-subheading" style="color: #1074bc">{{thirdSectionTitle | safe}}</div>
								<h2 class="h1">{{thirdSectionSubtitle | safe}}</h2>
							</div>
						</header>
						<div class="item animate-item" style=" translate: none; rotate: none; scale: none; opacity: 1; transform: translate(0px, 0px);">
							<div class="reviews-item item-style">
								<div class="reviews-item-header">
									<div class="reviews-item-info">
										<h3 class="reviews-item-name item-heading">{{testimonialsAuthor | safe}}</h3>
										<div class="reviews-item-position">{{testimonialsDescription | safe}}</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End our services -->

	<style>
		.how-img img {
			width: 100%;
		}
	</style>

	<!-- Begin why choose us -->
	<section class="section section-bg" style="background-color: #f0f4f8;">
		<div class="container">
			<div class="row items">
				<div class="col-12">
					<div class="wrapp-section-title section-title-center">
						<div class="section-subtitle">{{reasonsSectionSubtitle | safe}}</div>
						<h2 class="section-title">{{reasonsSectionTitle | safe}}</h2>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-12 item">
					<!-- Begin choose us item -->
					<div class="advantages-item">
						<div class="advantages-item-count">01</div>
						<div class="advantages-item-info">
							<h4 class="advantages-item-title">{{reasonTitle1}}</h4>
							<div class="advantages-item-desc">
								<p>{{reasonDescription1 | safe}}</p>
							</div>
						</div>
					</div>
					<!-- End choose us item -->
				</div>
				<div class="col-lg-6 col-md-6 col-12 item">
					<!-- Begin choose us item -->
					<div class="advantages-item">
						<div class="advantages-item-count">02</div>
						<div class="advantages-item-info">
							<h4 class="advantages-item-title">{{reasonTitle2}}</h4>
							<div class="advantages-item-desc">
								<p>
									{{reasonDescription2 | safe}}
									<small>
										<a onclick="mixpanel.track('Go to Salesforce Page Button')" href="https://www.salesforce.com/" >Salesforce</a>,
									<a onclick="mixpanel.track('Go to .Net Page Button')" href="https://dotnet.microsoft.com/" >.NET</a>,
									<a onclick="mixpanel.track('Go to Python Page Button')" href="https://www.python.org/" >Python</a>
										{% if '/en/' in page.url %}
                                        and
                                    {% else %}
                                        y
                                    {% endif %}
										<a onclick="mixpanel.track('Go to JavaScript Page Button')" href="https://developer.mozilla.org/es/docs/Web/JavaScript" >Javascript</a>
									</small>. 
                                {% if '/en/' in page.url %}
                                    We called this stack
                                    {% else %}
                                    Llamamos a este stack
                                {% endif %}
									<b style="color: #1074bc; font-weight: bolder">
										<i>ForcePyNets</i>
									</b>.
							</p>
							</div>
						</div>
					</div>
					<!-- End choose us item -->
				</div>
				<div class="col-lg-6 col-md-6 col-12 item">
					<!-- Begin choose us item -->
					<div class="advantages-item">
						<div class="advantages-item-count">03</div>
						<div class="advantages-item-info">
							<h4 class="advantages-item-title">{{reasonTitle3}}</h4>
							<div class="advantages-item-desc">
								<p>{{reasonDescription3 | safe}}</p>
							</div>
						</div>
					</div>
					<!-- End choose us item -->
				</div>
				<div class="col-lg-4 col-md-6 col-12 item">
					<!-- Begin choose us item -->
					<div class="advantages-item">
						<div class="advantages-item-count">04</div>
						<div class="advantages-item-info">
							<h4 class="advantages-item-title">{{reasonTitle4}}</h4>
							<div class="advantages-item-desc">
								<p>{{reasonDescription4 | safe}}</p>
							</div>
						</div>
					</div>
					<!-- End choose us item -->
				</div>
			</div>
		</div>
	</section>
	<!-- End why choose us -->

	<br/>

	<div class="row d-flex justify-content-center">
		<a onclick="mixpanel.track('Go to Contact Page Button')" href="{{"/pages/" + locale + "/contact"}}" class="btn btn-w240 ripple">{{btnContact | safe}}</a>
	</div>

	<br/>